@main("About Us") {
    <head>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/aboutus.css")">
    </head>
    <div class="team">
        <div class="container">
            <h1 class="text-center" id="aboutus-title"><u>QA Cinema Team</u></h1>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <img src="@routes.Assets.versioned("images/person-placeholder.png")" class="img-fluid" alt="team">
                    <div class="des">
                        Lukasz
                    </div>
                    <span class="text-muted">Scala Developer</span>
                    </br>
                    <span class="text">I am a Junior Scala Developer. I enjoy programming in many languages and traveling around the world!</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <img src="@routes.Assets.versioned("images/person-placeholder.png")" class="img-fluid" alt="team">
                    <div class="des2">
                        Ryan
                    </div>
                    <span class="text-muted">Scala Developer</span>
                    </br>
                    <span class="text">I'm Ryan and I enjoy practicing unreal engine and playing online games in my spare time.</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <img src="@routes.Assets.versioned("images/person-placeholder.png")" class="img-fluid" alt="team">
                    <div class="des">
                        Lloyd
                    </div>
                    <span class="text-muted">Product Owner | Scala Developer</span>
                    </br>
                    <span class="text">I am a junior Scala developer and have been for the last two weeks, I look forward to using the knowledge I gain from creating this website to power my future development.</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <img src="@routes.Assets.versioned("images/person-placeholder.png")" class="img-fluid" alt="team">
                    <div class="des2">
                        Kieran
                    </div>
                    <span class="text-muted">Scrum Master | Scala Developer</span>
                    </br>
                    <span class="text">I am a trainee consultant at QA Academy, and I acted as scrum master for this project as well as contributing to development.</span>
                </div>
            </div>
            <h1 class="text-center" id="scrum-title"><u>SCRUM Information</u></h1>
            <div class="row">
                <p class="text-center">SCRUM</p>
            </div>
            <a class="text-center" id="contact-title" style="text-decoration:none" href="/contactus" target="_blank">
                <h4 class="text-center" id="contact-title">Contact Us</h4>
            </a>
            <br> <br> <br>
        </div>
    </div>
}