@main("About Page") {
    <head>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/aboutus.css")">
    </head>
    <div class="team">
        <div class="container">
            <h1 class="text-center" id="aboutus-title"><u>QA Cinema Team</u></h1>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <img src="@routes.Assets.versioned("images/person-placeholder.png")" class="img-fluid" alt="team">
                    <div class="des">
                        Lukasz
                    </div>
                    <span class="text-muted">Developer</span>
                    </br>
                    <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <img src="@routes.Assets.versioned("images/person-placeholder.png")" class="img-fluid" alt="team">
                    <div class="des2">
                        Ryan
                    </div>
                    <span class="text-muted">Developer</span>
                    </br>
                    <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <img src="@routes.Assets.versioned("images/person-placeholder.png")" class="img-fluid" alt="team">
                    <div class="des">
                        Lloyd
                    </div>
                    <span class="text-muted">Developer</span>
                    </br>
                    <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item">
                    <img src="@routes.Assets.versioned("images/person-placeholder.png")" class="img-fluid" alt="team">
                    <div class="des2">
                        Kieran
                    </div>
                    <span class="text-muted">Developer</span>
                    </br>
                    <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
            </div>

            <a class="text-center" id="contact-title" style="text-decoration:none" href="/contactus" target="_blank">
                <h4 class="text-center" id="contact-title">Contact Us</h4>
            </a>
        </div>
    </div>
}