@()(implicit session : Session)
@*Ref: https://www.bbfc.co.uk/rating/u*@
@main("Classification") {
    <head>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/classifications.css")">
    </head>
    <div class="team">
        <div class="container">
            <div class="row i-center">
                <div class="col-lg item">
                    <div class="card">
                        <a class="card-img-top" href="https://www.bbfc.co.uk/rating/u">
                            <img src="@routes.Assets.versioned("images/classifications/U.png")" class="card-img-top" alt="U">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Classification U</h5>
                            <p class="card-text">A U film should be suitable for audiences aged four years and over, although it is impossible to predict what might upset any particular child.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Dangerous Behaviour: Potentially dangerous or anti-social behaviour which young children may copy must be clearly disapproved of. No emphasis on realistic or easily accessible weapons.</li>
                            <li class="list-group-item">
                                Discrimination: Discriminatory language or behaviour is unlikely to be acceptable unless clearly disapproved of</li>
                            <li class="list-group-item">
                                Drugs: References to illegal drugs or drug misuse must be infrequent and innocuous, or have a clear educational purpose or anti-drug message suitable for young children.</li>
                            <li class="list-group-item"> Language: Infrequent use only of very mild bad language.</li>
                            <li class="list-group-item">Nudity: Occasional nudity, with no sexual context.</li>
                            <li class="list-group-item">Sex: Occasional nudity, with no sexual context.</li>
                            <li class="list-group-item">
                                Violence: Scary or potentially unsettling sequences should be mild, brief and unlikely to cause undue anxiety to young children. The outcome should be reassuring.</li>
                            <li class="list-group-item">Violence: Violence will generally be very mild. Mild violence may be acceptable if it is justified by context (for example, comedic, animated, wholly unrealistic).</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg item">
                    <div class="card">
                        <a class="card-img-top" href="https://www.bbfc.co.uk/rating/pg">
                            <img src="@routes.Assets.versioned("images/classifications/PG.png")" class="card-img-top" alt="PG">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Classification PG</h5>
                            <p class="card-text">
                                General viewing, but some scenes may be unsuitable for young children. A PG film should not unsettle a child aged around eight or older. Unaccompanied children of any age may watch, but parents are advised to consider whether the content may upset younger, or more sensitive, children.
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Dangerous Behaviour: No detail of potentially dangerous behaviour which young children are likely to copy, if that behaviour is presented as safe or fun. No glamorisation of realistic or easily accessible weapons such as knives. No focus on anti-social behaviour which young children are likely to copy.</li>
                            <li class="list-group-item">
                                Discrimination: Discriminatory language or behaviour is unlikely to be acceptable unless clearly disapproved of, or in an educational or historical context, or in a particularly dated work with no likely appeal to children. Discrimination by a character with whom children can readily identify is unlikely to be acceptable.</li>
                            <li class="list-group-item">
                                Drugs: References to illegal drugs or drug misuse must be innocuous or carry a suitable anti-drug message.</li>
                            <li class="list-group-item"> Language: Mild bad language only. Aggressive or very frequent use of mild bad language may result in a work being passed at a higher category.</li>
                            <li class="list-group-item">Nudity: There may be nudity with no sexual context.</li>
                            <li class="list-group-item">Sex: Sexual activity may be implied, but should be discreet and infrequent. Mild sex references and innuendo only.</li>
                            <li class="list-group-item">
                                Threat and horror: Frightening sequences or situations where characters are in danger should not be prolonged or intense. Fantasy settings and comedy may be mitigating factors.</li>
                            <li class="list-group-item">Violence: Violence will usually be mild. However there may be moderate violence, without detail, if justified by its context (for example, history, comedy or fantasy).</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg item">
                    <div class="card">
                        <a class="card-img-top" href="https://www.bbfc.co.uk/rating/12">
                            <img src="@routes.Assets.versioned("images/classifications/12a.png")" class="card-img-top" alt="12">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Classification 12A</h5>
                            <p class="card-text">Films classified 12A and video works classified 12 contain material that is not generally suitable for children aged under 12. No one younger than 12 may see a 12A film in a cinema unless accompanied by an adult. Adults planning to take a child under 12 to view a 12A film should consider whether the film is suitable for that child. To help them decide, we recommend that they check the Ratings Info for that film in advance. No one younger than 12 may rent or buy a 12 rated video work.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Dangerous Behaviour: No promotion of potentially dangerous behaviour which children are likely to copy. No glamorisation of realistic or easily accessible weapons such as knives. No endorsement of anti-social behaviour.</li>
                            <li class="list-group-item">
                                Discrimination: Discriminatory language or behaviour must not be endorsed by the work as a whole. Aggressive discriminatory language or behaviour is unlikely to be acceptable unless clearly condemned.</li>
                            <li class="list-group-item">
                                Drugs: Misuse of drugs must be infrequent and should not be glamorised or give detailed instruction.</li>
                            <li class="list-group-item"> Language: There may be moderate bad language. Strong language may be permitted, depending on the manner in which it is used, who is using the language, its frequency within the work as a whole and any special contextual justification.</li>
                            <li class="list-group-item">Nudity: There may be nudity, but in a sexual context it must be brief and discreet.</li>
                            <li class="list-group-item">Sex: Sexual activity may be briefly and discreetly portrayed. Moderate sex references are permitted, but frequent crude references are unlikely to be acceptable.</li>
                            <li class="list-group-item">
                                Threat and horror: There may be moderate physical and psychological threat and horror sequences. Although some scenes may be disturbing, the overall tone should not be. Horror sequences should not be frequent or sustained.</li>
                            <li class="list-group-item">Violence: There may be moderate violence but it should not dwell on detail. There should be no emphasis on injuries or blood, but occasional gory moments may be permitted if justified by the context. </li>
                        </ul>
                    </div>
                </div>

            </div>
            </br>
            <div class="row i-center">
                <div class="col-lg item">
                    <div class="card">
                        <a class="card-img-top" href="https://www.bbfc.co.uk/rating/15">
                            <img src="@routes.Assets.versioned("images/classifications/15.png")" class="card-img-top" alt="15">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Classification 15</h5>
                            <p class="card-text">No one younger than 15 may see a 15 film in a cinema. No one younger than 15 may rent or buy a 15 rated video work.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Dangerous Behaviour: Dangerous behaviour (for example, suicide, self-harming and asphyxiation) should not dwell on detail which could be copied. Whether the depiction of easily accessible weapons is acceptable will depend on factors such as realism, context and setting.</li>
                            <li class="list-group-item">
                                Discrimination: The work as a whole must not endorse discriminatory language or behaviour, although there may be racist, homophobic or other discriminatory themes and language.</li>
                            <li class="list-group-item">
                                Drugs: Drug taking may be shown but the work as a whole must not promote or encourage drug misuse (for example, through detailed instruction). The misuse of easily accessible and highly dangerous substances (for example, aerosols or solvents) is unlikely to be acceptable.</li>
                            <li class="list-group-item"> Language: There may be strong language. Very strong language may be permitted, depending on the manner in which it is used, who is using the language, its frequency within the work as a whole and any special contextual justification.</li>
                            <li class="list-group-item">Nudity: There are no constraints on nudity in a non-sexual or educational context. Sexual nudity may be permitted but strong detail is likely to be brief or presented in a comic context.</li>
                            <li class="list-group-item">Sex: Sexual activity may be portrayed, but usually without strong detail. There may be strong verbal references to sexual behaviour. Repeated very strong references, particularly those using pornographic language, are unlikely to be acceptable. Works whose primary purpose is sexual arousal are unacceptable.</li>
                            <li class="list-group-item">
                                Sexual Violence and sexual threat: There may be strong verbal references to sexual violence but any depiction of the stronger forms of sexual violence, including rape, must not be detailed or prolonged. A strong and sustained focus on sexual threat is unacceptable.</li>
                            <li class="list-group-item">Threat and horror: There may be strong threat and horror. A sustained focus on sadistic threat is unlikely to be acceptable.</li>
                            <li class="list-group-item">Violence: Violence may be strong but should not dwell on the infliction of pain or injury. The strongest gory images are unlikely to be acceptable. Strong sadistic violence is also unlikely to be acceptable. </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg item">
                    <div class="card">
                        <a class="card-img-top" href="https://www.bbfc.co.uk/rating/18">
                            <img src="@routes.Assets.versioned("images/classifications/18.png")" class="card-img-top" alt="18">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Classification 18</h5>
                            <p class="card-text">No one younger than 18 may see an 18 film in a cinema. No one younger than 18 may rent or buy an 18 rated video work. Adults should be free to choose their own entertainment.</p>
                        </div>
                    </div>
                </div>
            </div>
            </br> </br> </br>
        </div>
    </div>
}