@()

@main("Classification") {
    <head>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/classifications.css")">
    </head>
    <div class="team">
        <div class="container">
            <h1 class="text-center" id="classification-title"><u>Classifications</u></h1>
            <div class="row text-center">
                <div class="col item">
                    <img src="@routes.Assets.versioned("images/classifications/U.png")" class="img-fluid" alt="U">
                    <div class="container text-center classification"><u>
                        Classification U
                    </u>
                    </div>
                    </br>
                    <span class="text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
                <div class="col-lg item">
                    <img src="@routes.Assets.versioned("images/classifications/PG.png")" class="img-fluid" alt="PG">
                    <div class="container text-center classification"><u>
                        Classification U
                    </u>
                    </div>
                    </br>
                    <span class="text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
                <div class="col item">
                    <img src="@routes.Assets.versioned("images/classifications/12.png")" class="img-fluid" alt="12">
                    <div class="container text-center classification"><u>
                        Classification U
                    </u>
                    </div>
                    </br>
                    <span class="text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
            </div>
            <div class="row text-center">
                <div class="col item">
                    <img src="@routes.Assets.versioned("images/classifications/15.png")" class="img-fluid" alt="15">
                    <div class="container text-center classification"><u>
                        Classification U
                    </u>
                    </div>
                    </br>
                    <span class="text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
                <div class="col item">
                    <img src="@routes.Assets.versioned("images/classifications/18.png")" class="img-fluid" alt="18">
                    <div class="container text-center classification"><u>
                        Classification U
                    </u>
                    </div>
                    </br>
                    <span class="text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
}