@import dao.CommentDAO
@import courier.Defaults.executionContext
@import akka.http.scaladsl.model.StatusCodes.InternalServerError
@import models.{Comment, CommentForm}
@import scala.collection.mutable.ArrayBuffer
@(commentList: Seq[Comment], form: Form[Comment])(implicit request: RequestHeader, messagesProvider: MessagesProvider,session:Session)

<head>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/comments.css")">
</head>

@main("Comments") {
    <div class="content">
        <section class="comments">
        @for(comment <- commentList) {

            <div class="card bg-light mb-3" style="max-width: 18rem;  display: block;  margin-left: auto;  margin-right: auto;">
                <div class="card-header">@comment.getUsername</div>
                <div class="card-body">
                    <p class="card-text">@comment.getCommentBody</p>
                </div>
            </div>
        }
        </section>
        <Section class="addComment">
            <div class="commentContainer">
                <h2>Enter Comment</h2>
                @helper.form(routes.CommentController.createComment) {
                    @helper.inputText(form("username"))
                    @helper.textarea(form("comment_body"))
                    <button class="btn btn-primary" type="submit">Send</button>
                }
            </div>
        </Section>
    </div>
}




