@(form: Form[Email])(implicit request: RequestHeader, messagesProvider: MessagesProvider, session: Session)

<head>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/login.css")"><title>Contact Us</title>
</head>

@main("Contact us") {
<div id="logincont" class="logincontainer">
    <div class="container" style="align-content: center;">
    <div class="row">
            <div id="logincol" class="col">
                <h2>By post</h2>
                <p>5th Floor Anchorage 1</p>
                <p>Anchorage Quay</p>
                <p>Salford Quays</p>
                <p>Manchester</p>
                <p>M50 3YJ </p>
            </div>
            <div id="logincol" class="col">
                <h2>By email</h2>
                @helper.form(routes.ContactController.sendEmail(), Symbol("class") -> "form-control", Symbol("id") -> "greybackgroundform") {
                    @helper.inputText(form("sender"), Symbol("class") -> "form-control", Symbol("_label") -> "Your email", Symbol("_showConstraints") -> false)
                    @helper.inputText(form("subject"), Symbol("class") -> "form-control", Symbol("_label") -> "Subject", Symbol("_showConstraints") -> false)
                    @helper.textarea(form("body"), Symbol("class") -> "form-control", Symbol("_label") -> "Your message",Symbol("_showConstraints") -> false)
                    <button class="btn btn-dark" type="submit">Send</button>
                }
            </div>
            <div id="logincol" class="col">
                <h2>By phone</h2>
                <p>09:00 - 17:00, Monday - Friday:</p>
                <p>+44 (0)345 074 7995</p>
            </div>
        </div>
    </div>
</div>
}