@(filmList: Seq[Film])(implicit request: RequestHeader, messagesProvider: MessagesProvider, session: Session)


@main("Comments") {
    <head>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/comments.css")">
    </head>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Film</th>
                    <th scope="col">Age Rating</th>
                    <th scope="col">Opening Date</th>
                    <th scope="col">Closing Date</th>
                </tr>
            </thead>
            <tbody>
            @for(film <- filmList) {
                <tr>
                    <th scope="row"><a href="/forum/@film.film_id" style="text-decoration: none;
                        color: teal">@film.film_name</a>
                    </th>
                    <td>@film.age_rating</td>
                    <td>@film.opening_date</td>
                    <td>@film.closing_date</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}




