@()(implicit session : Session)

<head>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/gettingthere.css")">
</head>

@main("Find Us") {
    <section>

        <div class="row">
                <iframe class="col-sm" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2374.68311523745!2d-2.288300184156745!3d53.47412318000606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bae144d616f11%3A0xf8ad04bbffd50deb!2sSalford%20M50%203YJ!5e0!3m2!1sen!2suk!4v1613384605785!5m2!1sen!2suk"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <div class="col-sm">
                <h3>We Can Be Found At:</h3>
                <p>
                    5th Floor Anchorage 1 <br>
                    Anchorage Quay<br>
                    Salford Quays<br>
                    Manchester<br>
                    M50 3YJ
                </p>
            </div>
        </div>
        <div class="row">
            <img class="col-sm" src="@routes.Assets.versioned("images/gettingthere/frontofhouse.jpg")" alt="Front Of Building">
            <div class="col-sm">
                <h3>Getting To Us</h3>
                <h4>From Manchester Piccadilly Train Station</h4>
                <p>
                    Get the blue line towards Eccles tram from outside the station, get off when you reach Anchorage Tram stop, We are just across the road, you cant miss us!
                </p>
                <h4>From Piccadilly Bus Station</h4>
                <p>
                    Get the blue line towards Eccles tram from the station, get off when you reach Anchorage Tram stop, We are just across the road, you cant miss us!
                </p>
                <h4>From Huron Basin/ The Lowry Bus stops</h4>
                <p>
                    Travel east along the basin until you reach where the water ends, Anchorage will be right in front of you.
                </p>
                <h4>From Media City Bus stop</h4>
                <p>
                    Travel east along the road until you reach Millenium Point, follow the south foot path and  Anchorage will be right in front of you.
                </p>
                <h4>From Harbour City tram/bus stops</h4>
                <p>
                    Travel east along the road until you reach Millenium Point, follow the south foot path and  Anchorage will be right in front of you.
                </p>

                <h3>Parking</h3>
                <p>
                    The closest place to park is<br>
                        Your Parking Space, Anchorage Car Park<br>
                        Salford,<br>
                        Quays,<br>
                        M50 3XE<br>
                </p>
                <p>
                    It is just across Anchorage quay road, £1.50 per hour<br>
                    You can book tickets <a href="https://www.yourparkingspace.co.uk/locations/show/4294952709/">Here</a>
                </p>
            </div>
        </div>

    </section>
    
}