@(message: String)(implicit session: Session)

@main("Opening times") {

    <div class="container" id="opening_times">
        <div class="row justify-content-center">
            <div class="col-sm-6 align-self-center">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Day(s)</th>
                        <th scope="col">Opening</th>
                        <th scope="col">Last screening start</th>
                        <th scope="col">Closing</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Monday - Thursday</th>
                        <th>09:00</th>
                        <th>22:30</th>
                        <th>00:00</th>
                    </tr>
                    <tr>
                        <th>Friday</th>
                        <th>09:00</th>
                        <th>23:30</th>
                        <th>01:00</th>
                    </tr>
                    <tr>
                        <th>Saturday</th>
                        <th>10:00</th>
                        <th>23:30</th>
                        <th>01:00</th>
                    </tr>
                    <tr>
                        <th>Sunday</th>
                        <th>11:00</th>
                        <th>22:30</th>
                        <th>00:00</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}