@(num: Int)(implicit session: Session)


@main("Our Screens") {
    <br/>
    <br/>
    <div class = "dropdowncontainer">
        <div class="container">
            <div class="row">
            @{
                if(num % 2 == 0) {
                        <select class="form-select" id="screenselector" onchange="setRoute();">
                        <option value="1">Standard Screen</option>
                        <option value="2" selected="selected">Premium Screen</option>
                        </select>


                }
                else {
                        <select class="form-select" id="screenselector" onchange="setRoute();">
                        <option value="1" selected="selected">Standard Screen</option>
                        <option value="2">Premium Screen</option>
                        </select>

                }
            }

            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class = "resultcontainer">
        <div class = "container">

        @if(num % 2 == 0) {
            <h2 class="text-center">Our Premium Screens</h2>
            <br/>
            <p class="text-center">
                The epitome of elegance and exclusivity, QA premium screens are redefining the viewing experience. Kitted out with every luxury imaginable, from wine-coolers
                to heated recliner seats, you can take in your film in complete and utter comfort. Each seat is also installed with its own button, allowing you to silently call over staff when you're
                ready to order from our extensive food and drink selection. It's a real feast for your eyes as well with the opulence also extending to the screen. Our 8K projectors and state-of-
                the-art surround sound systems mean that you'll be treated to rich, deep and intense colours and contrasts, creating astounding visuals with audio making you feel like you're right
                on set.
                <br/> <br/>
                So swap your soft drinks for champagne and prepare yourself for the ultimate cinematic experience, watch our social medias for news on whats coming to our premium screens!
            </p>
            <br/>
            <br/>

            <div class = "text-center">
                <div class = "card" >
                    <a href="#">
                        <img alt="Premium seating picture and seating plan" class = "card-img-top" src="@routes.Assets.versioned("images/premseats.jpg")" onmouseover="this.src = '@routes.Assets.versioned("images/PREM-PLAN.jpg")'" onmouseout="this.src = '@routes.Assets.versioned("images/premseats.jpg")'" />
                    </a>
                    <div class="card-body text-white rgba-black-light p-2 text-start" style = "z-index: 2;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        left: 0;">
                        A look inside our premium screen/The seating layout for a premium screen.

                    </div>
                </div>
            </div>


        } else {
            <h2 class="text-center">Our Standard Screens</h2>
            <br/>
            <p class ="text-center">
                Beloved by partners and patrons alike for there plush seating, incredible surround sound, and incomparable screen quality, our screens offer an experience like no other.
                Step into fierce battles, raging storms or tense courtrooms all from the comfort of your seat! Our extensive food and drink menu has something for everything. Served
                straight to your seat so you dont have to miss a moment of the action. The cleverly tiered seating guarantees that you will have completely unobstructed
                views so rest assured you will be guaranteed the best viewing experience possible.

                <br/> <br/>

                Check out our new releases page to see whats on in our screens!!
            </p>
            <br/>
            <br/>
            <div class = "text-center">
                <div class = "card" >
                    <a href="#">
                        <img alt="Standard seating picture and seating plan" class = "card-img-top" src="@routes.Assets.versioned("images/cine.jpg")" onmouseover="this.src = '@routes.Assets.versioned("images/STAN-PLAN.png")'" onmouseout="this.src = '@routes.Assets.versioned("images/cine.jpg")'" />
                    </a>
                    <div class="card-body text-white rgba-black-light p-2 text-start" style = "z-index: 2;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        left: 0;">
                        A look inside our standard screen/The seating layout for a standard screen.

                    </div>
                </div>
            </div>

        }
        </div>
    </div>
    <br/>


    <script>
            setRoute = () => {
                window.location.replace("@routes.ScreenController.changeNum()");
            }
    </script>
}